---
import { themeConfig } from '@/config'
import ThemeToggle from '@/components/ui/ThemeToggle.astro'
---

<header>
  <nav>
    <a href="/">
      <div class="favicon"></div>
      <div class="title-info">
        <div class="title">{themeConfig.site.title}</div>
        <div class="location">{themeConfig.site.location}</div>
      </div>
    </a>
    <ThemeToggle />
  </nav>
</header>
<style>
  header {
    margin: 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    text-decoration: none;
    min-width: 3rem;
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    gap: 0.25rem;
  }
  
  .favicon {
    height: 1.75em;
    width: 1.75em;
    background-image: url('/lf_square.JPEG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0em;
    flex-shrink: 0;
  }
  
  .title-info {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .title {
    font-weight: var(--font-weight-bold);
    font-size: 1em;
  }
  
  .location {
    font-weight: var(--font-weight-light);
    font-size: 1em;
  }
</style>
